.booking {
  background-color: $section-bg-secondary;
  padding-top: 84px;
  padding-bottom: 84px;
}

.booking__text {
  font-family: $title-font;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: $white-color;
  margin-bottom: 44px;
}

.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__input {
  width: 100%;
  background-color: inherit;
  padding-bottom: 8px;
  margin-bottom: 44px;
  border: none;
  border-bottom: 1px solid $transparent-text;
  color: $transparent-text;
  &--message {
    padding-bottom: 60px;
  }

  &::placeholder {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: inherit;
  }

  &:focus {
    cursor: pointer;
    outline: none;
    color: $white-color;
    border-color: $white-color;
  }
}

.booking__thumb {
  display: flex;
  flex-direction: column;
  width: 100%;
}
