.mobile-container {
  display: flex;
  justify-content: space-between;
}

.mobile-menu {
  display: none;
  &.is-open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 111px;
    padding-left: 40px;
    padding-right: 99px;
    padding-bottom: 227px;
    background-color: $white-color;
    min-height: 100vw;
  }
}

.mobile-nav__item {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-nav__link {
  font-weight: 600;
  font-size: 18px;
  color: $text-color-accented;
  letter-spacing: 0.1em;

  &--current {
    color: $brand-color;
  }
}

.mobile-nav {
  margin-bottom: 64px;
}

.mobile-menu__tel {
  display: block;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $text-color-accented;
}

.socials-iy--mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
  margin-left: 100px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background: $text-color-accented;
    width: 60px;
    top: 9px;
    left: -100px;
  }
}

.socials-iy__link--mobile {
  font-weight: 600;
  font-size: 14px;
    color: $text-color-accented;

}
