$main-font: "Open Sans", sans-serif;
$title-font: "Raleway", sans-serif;
$brand-color: #ff6c00;
$section-bg: #f7f7f7;
$white-color: #ffffff;
$transparent-text: rgba(157, 164, 189, 0.4);
$text-color-primary: #9da4bd;
$text-coor-secondary: #555555;
$text-color-accented: #303030;
$section-bg-secondary: #191C26;
